.iconRight {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--variant-text);
  align-items: center;
  transition: color 0.2s ease;
}

.iconRight:hover {
  color: var(--color-primary-solid);
}