:root {
    --success-50: var(--green-50);
    --success-100: var(--green-100);
    --success-200: var(--green-200);
    --success-300: var(--green-300);
    --success-400: var(--green-400);
    --success-500: var(--green-500);
    --success-500-rgb: var(--green-500-rgb);
    --success-600: var(--green-600);
    --success-700: var(--green-700);
    --success-800: var(--green-800);
    --success-900: var(--green-900);
}