:root {
    --warning-50: var(--yellow-50);
    --warning-100: var(--yellow-100);
    --warning-200: var(--yellow-200);
    --warning-300: var(--yellow-300);
    --warning-400: var(--yellow-400);
    --warning-500: var(--yellow-500);
    --warning-500-rgb: var(--yellow-500-rgb);
    --warning-600: var(--yellow-600);
    --warning-700: var(--yellow-700);
    --warning-800: var(--yellow-800);
    --warning-900: var(--yellow-900);
}