.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  box-shadow:
    0 10px 25px rgba(0, 0, 0, .15),
    0 2px 5px rgba(0, 0, 0, .1);
}

.iconLeft,
.iconRight {
  position: absolute;
  display: flex;
  align-items: center;
}

.iconLeft {
  left: .75rem;
}

.iconRight {
  right: .75rem;
}