@import "./variables.css";
/* @import "./themes/light-back.css";
@import "./themes/dark-back.css"; */
@import "./palette/palette.css";
@import "./themes/light.css";
@import "./themes/dark.css";
@import "./variants/index.css";
@import "./reset.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  overflow: hidden;

  background: var(--color-background);
  color: var(--color-text);

  font-family:
    Inter,
    system-ui,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}