.highlight {
    font: inherit;
    font-weight: 900;
}

.primary {
    color: var(--color-primary-solid);
}

.accent {
    color: var(--color-accent-solid);
}

.success {
    color: var(--color-success-solid);
}