/* ==========================================================
 * NavLink
 * ========================================================== */

.link {
  position: relative;
  isolation: isolate;

  display: inline-flex;
  align-items: center;

  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);

  border: 1px solid var(--variant-border);
  border-radius: var(--radius);

  overflow: hidden;

  text-decoration: none;

  background: var(--variant-background);
  color: var(--variant-text);

  transition:
    color 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;
}


/* ==========================================================
 * Label
 * ========================================================== */

.label {
  font-size: var(--font-size);
  position: relative;
  z-index: 2;
}


/* ==========================================================
 * Hover
 * ========================================================== */

.link:hover {
  color: var(--variant-hover-text);
  background: var(--variant-hover-background);
  border-color: var(--variant-hover-border);
}


/* ==========================================================
 * État actif
 * ========================================================== */

.active {
  color: var(--variant-active-text);
  background: var(--variant-active-background);
  border-color: var(--variant-active-border);
  font-weight: 600;
}