.sidebar {
    width: 260px;
    min-height: 100vh;

    border-right: 1px solid #e5e7eb;

    padding: 20px;
}

.logo {
    margin-bottom: 30px;
}

.menu {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    gap: 16px;
}

.mobile {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 1000;

    background: var(--background);

    width: 260px;
    height: 100vh;
}

.closeButton {
    margin-bottom: 20px;
    cursor: pointer;
}